<script>

    $(document).ready(function() {

      /* initialize the external events
       -----------------------------------------------------------------*/
        $.get('<%=calendar_list_admin_issues_path(:due_date => false) %>', function(resp) {
            console.log(resp)
            $('#external-events-list').empty()
            if(resp.length <= 0) {
            }
            else {
                for (var i in resp) {
                    $('#external-events-list').append('<div class="fc-event" data-issue="' + resp[i]._id['$oid'] + '">[' + resp[i].project_name + "] "+ resp[i].title + '</div>')
                }

                $('#external-events .fc-event').each(function () {

                    // store data so the calendar knows to render an event upon drop
                    $(this).data('event', {
                        title: $.trim($(this).text()), // use the element's text as the event title
                        stick: true // maintain when user navigates (see docs on the renderEvent method)
                    });

                    // make the event draggable using jQuery UI
                    $(this).draggable({
                        zIndex: 999,
                        revert: true,      // will cause the event to go back to its
                        revertDuration: 0  //  original position after the drag
                    });

                });
            }
        })


      /* initialize the calendar
       -----------------------------------------------------------------*/

        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            editable: true,
            droppable: true, // this allows things to be dropped onto the calendar
            drop: function(date) {
                // if so, remove the element from the "Draggable Events" list
//                console.log("Dropped on " + date.format());
                issue = $(this).data('issue')
                if(issue) {
                    $.post('<%=calendar_update_admin_issues_path() %>', {id: issue, due_date: date.format()}, function(resp) {
//                        console.log(resp)
                    })
                }
                $(this).remove();
            },
            eventDrop: function(event, delta, revertFunc) {

                issue = event.object_id

//                console.log("Dropped "+ issue +" on " + event.start.format());
                if(issue) {
                    $.post('<%=calendar_update_admin_issues_path() %>', {id: issue, due_date: event.start.format()}, function(resp) {
//                        console.log(resp)
                    })
                }

                $(this).remove();

            },
            eventRender: function(event, element) {
                console.log(event)
//                element.qtip({
//                    content: event.title
//                });
            },
            events: function(start, end, timezone, callback) {
                $.ajax({
                    url: '<%=calendar_list_admin_issues_path(@project.nil? ? {} : { project_id: @project._id }) %>',
                    dataType: 'json',
                    data: {
                        // our hypothetical feed requires UNIX timestamps
                        start: start.format(),
                        end: end.format()
                    },
                    success: function(doc) {
//                        console.log(doc)
                        var events = [];
                        $(doc).each(function() {
                            events.push({
                                object_id: $(this).attr('_id')['$oid'],
                                title: "[" + $(this).attr('project_name') + "] " + $(this).attr('title'),
                                start: $(this).attr('due_date'), // will be parsed
                                className: $(this).attr('status') + " " + $(this).attr('overdue')
                            });
                        });
                        callback(events);
                    }
                });
            }
        });


    });

</script>

<style>



</style>

<ul class="projects">
  <li><a href="<%= calendar_admin_issues_path() %>">All projects</a></li>
  <% for p in @projects %>
    <li><a href="<%= calendar_admin_issues_path({ project_id: p._id }) %>"><%=p.name %></a></li>
  <% end %>
</ul>

<div id='calendar-wrap'>

  <div id='external-events'>
    <h4>Unschedule issues</h4>
    <div id="external-events-list">
    </div>
  </div>

  <div id="calendar"></div>

  <div style='clear:both'></div>

</div>
