// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

@import "activeadmin-sortable";

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

@import "active_admin/select2/base";
@import "simplemde.min";
//@import "full-calendar/fullcalendar.print";

@import "idr_active_style";

@import "full-calendar/fullcalendar";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

* {
  text-shadow: none !important;
}

#header {
  background: #005c88;
  padding: 8px 0;
  text-transform: uppercase;
}

#header a, #header a:link {
  color: #fff;
}

#title_bar h2 {
  font-size: 1.8em;
  text-transform: uppercase;
}

.breadcrumb {
  margin-bottom: 6px;
}

a.button, a:link.button, a:visited.button, input[type=submit], input[type=button], button {
  border-radius: 0;
}

#title_bar .action_items span.action_item > a, #title_bar .action_items span.action_item > .dropdown_menu > a {
  border-radius: 10px;
  border: 0;
}

.paginated_collection {
  padding-top: 30px;
}

#main_content_wrapper .select2-container {
  width: calc(80% - 22px) !important;
}

#main_content > form :after {
  display: none;
}

#main_content > form:after {
  display: table;
}


.input-markdown:after {
  content: "";
  display: table;
  clear: both;
}

////////////////////////////////////////////////////////////////////////////


.editor-toolbar.fullscreen, .CodeMirror-fullscreen, .editor-preview-side {
  z-index: 900 !important;
}

.editor-toolbar, .CodeMirror, .editor-statusbar {
  width: calc(80% - 22px);
  float: right;
}

////////////////////////////////////////////////////////////////////////////

#title_bar .action_items .action_item > a.btn-calendar {
  background: #005c88;
  color: #fff;
}
#title_bar .action_items .action_item > a.btn-calendar:not(.disabled):hover {
  background: #006a9b;
  color: #fff;
}

////////////////////////////////////////////////////////////////////////////

.index_table tr.queue td {
  //background-color: #ffffaa;
}

.index_table tr.doing td, .index_table tr.even.doing td {
  background-color: #ffffaa;
}

.index_table tr.testing td, .index_table tr.even.testing td {
  background-color: #d3e9ff;
}

.index_table tr.feedback td, .index_table tr.even.feedback td {
  background-color: #dfaaff;
}

.index_table tr.complete td, .index_table tr.even.complete td {
  background-color: #c3ffe9;

}
.status_tag.allow {
  background-color: #00FF00;
}

.status_tag.not_allow {
  background-color: #888;
}

.status_tag.doing {
  background-color: #fecc44;
}

.status_tag.testing {
  background-color: #80cbff;
}

.status_tag.feedback {
  background-color: #af7aff;
}

.status_tag.complete {
  background-color: #10c58a;
}

.status_tag.major {
  background-color: #44bbff;
}

.status_tag.minor {
  background-color: #44ffcc;
}

.status_tag.criticle {
  background-color: #ff6644;
}


.index_table tr.warning td, .index_table tr.even.warning td {
  background-color: #ffcaaa;
}

.index_table tr td.col-componant .status_tag {
  background-color: #888;
}



#calendar-wrap {
   max-width: calc(110vh + 200px);


  #external-events {
    float: left;
    width: 150px;
    padding: 0 10px;
    /*border: 1px solid #ccc;*/
    /*background: #eee;*/
    text-align: left;
  }

  #external-events h4 {
    font-size: 12px;
    margin-top: 0;
    padding-top: 1em;
    font-weight: bold;
    text-transform: uppercase;
  }

  #external-events .fc-event {
    margin: 10px 0;
    cursor: pointer;
  }

  #external-events p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
  }

  #external-events p input {
    margin: 0;
    vertical-align: middle;
  }

  #calendar {
    float: right;
    width: calc(100% - 200px);
    max-width: 110vh;
  }

  #calendar table {
    margin-bottom: 0;
  }

  .fc-event {
    border: 0;
    padding: 2px;
  }

  .fc-event .fc-content {
    font-size: 1.2em;
  }


  .fc-event.doing {
    background-color: #fecc44;
  }

  .fc-event.testing {
    background-color: #80cbff;
  }

  .fc-event.feedback {
    background-color: #af7aff;
  }

  .fc-event.complete {
    background-color: #10c58a;
  }

  .fc-event.overdue {
    background-color: #ff6644;
  }
 }

ul.projects {
  padding: 0;

  li {
    display: inline;
    list-style: none;
    padding: 6px;
  }
}

input[disabled="disabled"],
input[disabled] {
  background-color: #F4F4F4;
  border: 0px solid #F4F4F4 !important;
}